h1 {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	display: flex;
	justify-content: center;
	justify-content: center;
}

p {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	display: flex;
	justify-content: center;
	justify-content: center;
}

.navbar-custom {
	background-color: rgb(87, 87, 87);
	/* background-image: linear-gradient(rgb(87, 87, 87), rgb(143, 143, 143)); */
}

a {
	color: white;
}

a:link {
	color: white;
}

/* visited link */
a:visited {
	color: white;
}

/* mouse over link */
a:hover {
	color: rgb(206, 206, 206);
}

/* selected link */
a:active {
	color: white;
}

.color {
	background-color: rgb(87, 87, 87);
	background-image: linear-gradient(rgb(87, 87, 87), skyblue);
	color: white;
}
